__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/
.python-version
.venv/
venv/
.env
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.vscode/
dist/
rulesets/*/raw/
rulesets/*/raw/**
docs/external/

# Archive folder - local reference only
docs/archive
docs/archive/
